BACK/terraform/.terraform
BACK/terraform/.terraform.lock.hcl
BACK/terraform/terraform.tfstate
BACK/terraform/terraform.tfstate.backup
BACK/API/.env
BACK/__pycache__
BACK/API/__pycache__
BACK/auth/server/database.js
BACK/auth/node_modules
BACK/auth/package-lock.json
BACK/auth/package-lock.json
FRONT/teste/config.js
BACK/API/__pycache__/
